# Streamlit
streamlit

# API
fastapi
pydantic
uvicorn
pydantic
requests
langchain-google-genai
python-dotenv==1.0.1
langchain-google-cloud-sql-pg
langchain-google-vertexai
langchain_community
google-cloud-storage
google-cloud-storage>=2.18.0
langchain
langchain_unstructured