version: '3.8'

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile_api
    container_name: fastapi-container
    networks:
      - my_network
    ports:
      - "8181:8181" # TODO EDIT ACCORDINGLY

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamlit-container
    networks:
      - my_network
    ports:
      - "8501:8501" # TODO EDIT ACCORDINGLY

networks:
  my_network:
    driver: bridge